/*Загрузка шрифта*/
@font-face {
   font-family: "Roboto Slab" "Arial";
   src: url("../font/static/RobotoSlab-Regular.woff2") format('woff2'), url('../font/static/RobotoSlab-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
h1{
   font-family: "Roboto Slab";
   font-weight: 300;
   font-style: normal;
}