/*Загрузка шрифта*/
@font-face { 
   font-family: 'RobotoSlab-VaraibleFont';
   src: url('font/RobotoSlab-VaraibleFont.ttf');
   font-weight: 500;
   font-style: normal;
}

.body {
   font-family: 'RobotoSlab-Regular';
   src: url('font/static/RobotoSlab-Regular.ttf');
   font-weight: 500;
   font-style: normal;
}