/*Стиль для окон регистрации*/
/*Загрузка шрифта*/
@font-face {
   font-family: "Roboto Slab";
   src:  url('../font/static/RobotoSlab-Regular.eot') format('eot'),
   url('../font/static/RobotoSlab-Regular.woff2') format('woff2'),  
   url('../font/static/RobotoSlab-Regular.woff') format('woff'),  
   url('../font/static/RobotoSlab-Regular.ttf') format('truetupe'),
   url('../font/static/RobotoSlab-Regular.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Roboto Slab", sans-serif;
   font-weight: 400;
   font-style: normal;
}

form {
   display: flex;
   flex-direction: column;
   width: 400px;
}

input{
   margin: 10px 0;
   padding: 10px;
   border: unset;
   border-bottom: 2px solid #e3e3e3;
   outline: none;
}

button{
   padding: 10px;
   background: #e3e3e3;
   border: none;
   cursor: pointer;
   border-bottom: 2px;
}